$brand-primary: #0b2f6d;
$brand-secondary: #0091a0;
$button-box: #343a40;
$heading: #128193;
$Label: #343a40;
$Label-value: #343a40;
$link: #128193;
$notbook: #343a40;
$tooltip: #1d2939;
$border: #d1d4d7;
$menu-main-title: #343a40;

:root {
    --brand-primary: #0b2f6d;
    --brand-secondary: #0091a0;
    --button-box: #343a40;
    --heading: #128193;
    --Label: #343a40;
    --Label-value: #343a40;
    --link: #128193;
    --notbook: #343a40;
    --tooltip: #1d2939;
    --border: #d1d4d7;
    --menu-main-title: #343a40;
    --font-color: var(--Label-value);
}