.limit_char {
    display: inline-block;
    width: 400px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.limit_char2 {
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
